# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.10.0

    working_directory: ~/etf-investing-prep

    steps:
      - checkout

      - run: npm i
      - run: npm run build